h1 {
    text-align: center;

}
p{
    font-size: xx-large;
}
img{
    margin-top: 150px;
    margin-right:70px;
    margin-left: 500px;
}
body{
    background-color: rgb(1, 253, 253);
}
